
.section1 img{
    height: 400px;
    width: 600px;
}.section-{
    margin-top: 40px;
}
.section1 h3{
    color:#274685;
    padding: 40px;
    font-size: 32px;
    font-weight: 700;
}
 .new1 {
    color: #274685;

    margin-bottom: 60px;
}
.section1 h4{
  color:black;
}