.section1 img{
    height: 300px;
    width: 400px;
}
.section1 h3{
    color:#274685;
    padding: 40px;
    font-size: 32px;
    font-weight: 700;
}
.section1 h4{
    color: black;
    padding: 20px;
}


.main-content h2{
    color:#274685;
    padding: 60px;font-size: 36px;
    font-weight: 800;
}

